# ********************************************************************************
# Copyright (c) 2025, Wentao Guo, Mayank Mishra, Xinle Cheng, Ion Stoica, Tri Dao
# ********************************************************************************

nvidia-cutlass-dsl==4.4.0
quack-kernels==0.2.5
pytest
parameterized
ninja
rich
